<!-- this button changes on the base of ngIf toggles it self -->
<button id="myAddButton" class=" mx-3 btn btn-primary" (click) ="addButtonClicked()">Add new project</button>

<!-- my form starts here  -->
<form class= "my-5 m-3" *ngIf="showFrom" id="myForm" #myForm="ngForm" (ngSubmit)="submitForm(myForm)" name="myForm" autocomplete="off">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Program Name</label>
    <input type="text" class="form-control" id="programNameId" aria-describedby="programName" name="programName" [(ngModel)]="programName">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Program Number</label>
    <input type="number" class="form-control" id="programNumber" name="programNumber" [(ngModel)]="programNumber"  >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Program Budget</label>
    <input type="number" class="form-control" id="programBudget" name="programBudget" [(ngModel)]="programBudget">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Program Description </label>
    <input type="text" class="form-control" id="programDescription" name="programDescription" [(ngModel)]="programDescription">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br><br>

<!-- showing project data from api  -->
<div id="myDiv">

<ejs-grid [dataSource]="myGridData">
  <e-columns>
      <e-column field='programName' headerText='programName' textAlign='center' width=50></e-column>
      <e-column field='programNumber' headerText='programNumber' textAlign='center' width=50></e-column>
      <e-column field='programBudget' headerText='programBudget' textAlign='center' format='C2' width=50></e-column>
      <e-column field='programDescription' headerText='programDescription' textAlign='center' width=100></e-column>
      <e-column field='' headerText='Actions' textAlign='center' format='yMd' width=50>
        <ng-template #template let-data>
          <button class="btn btn-primary mx-2 btn-dark">Edit</button>
          <button class="btn btn-primary mx-2 btn-success">Activate</button>
        </ng-template>
      </e-column>
  </e-columns>
</ejs-grid>
</div>
